@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

:root{
    background-color: $sec-col;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;

    main {
        max-width: 100%;
        display: flex;
        justify-content: center;
      
      }
}